*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
}
body {
  background-color: rgb(249, 245, 238);
  min-height: 100vh;
  line-height: 1.5;
}

#overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 2;
  background-color: rgb(249, 245, 238);
  opacity: 70%;
}

#winMessage.hidden {
  display: none;
}

.hidden {
  display: none;
}

#winMessage {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  padding: 1rem 2rem;
  background-color: rgb(249, 245, 238);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#playAgain {
  padding: 0.5rem 1rem;
}

#popup {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  background-color: rgb(249, 245, 238);
  width: 150px;
  height: 250px;
  z-index: 3;
}

h2 {
  text-align: center;
}

header > h1 {
  padding: 2rem;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
}
#boards {
  display: flex;
  gap: 2rem;
}
#p1Board,
#p2Board,
#placeShipsBoard {
  width: 300px;
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

#popup {
  width: fit-content;
  height: fit-content;
}

#currentShipHeader {
  margin-top: 10px;
}

#placeShipsBoard {
  margin: 1rem;
}

.boardColumn {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.s,
.h,
.m,
.e {
  border: 1px solid black;
  height: 100%;
  margin: 1px;
}
.h,
.m {
  pointer-events: none;
}
.e,
.s {
  cursor: pointer;
}

.h {
  background-color: rgb(220, 9, 9);
}
.m {
  background-color: rgb(48, 48, 179);
}

.popupBoardCell.s {
  background-color: purple;
}

.hoverShip {
  background-color: green;
}
footer {
  width: 100vw;
  position: absolute;
  bottom: 0;
}

footer p {
  text-align: center;
  margin: 10px;
}
a {
  text-decoration: none;
}
